@model ExamenParcial3.Models.VehicleDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarRegistration)
        </dd>
        <dt class = "col-sm-2">
            Fabricante
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.VehicleModel.VehicleManufacter.ManufacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColourID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColour.ColourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleFuelType.FuelTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMilage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMilage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiclePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiclePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarRegistration">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
